body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #222;
  color: #fff;
}

h2{
  color: #fff;
}

.site-header,
.site-footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.game-grid {
  display: grid;
  gap: 1rem;
  /* 画面幅に応じた列数 */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 1rem;
}

.game-card {
  background: #222;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.game-card img {
  width: 100%;
  height: auto;
  display: block;
}

.game-card h2 {
  margin: .5rem;
  font-size: 1.2rem;
}

.game-card .genre,
.game-card .release {
  margin: 0 .5rem .25rem;
  font-size: .9rem;
  color: #fff;
}

.game-card .description {
  margin: .5rem;
  flex-grow: 1;
  font-size: .95rem;
  line-height: 1.4;
}

.game-card a {
  display: block;
  text-align: center;
  background: #007ACC;
  color: #fff;
  text-decoration: none;
  padding: .75rem;
  border-top: 1px solid #005A9C;
}

.game-card a:hover {
  background: #005A9C;
}

.video-section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.Call-of-duty{
  width: 100%;
  height: auto;
  display: block;
  background: #000;
  object-fit:cover; 
}