html {
    scroll-behavior: smooth;

}

body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Noto Sans JP', sans-serif;
}

.font-kiwi {
    font-family: 'Kiwi Maru', serif;
}

#toc {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 1.5rem;
    z-index: 10;
}

#toc ul li a {
    transition: all 0.3s ease;
    color: #a0a0a0;
    font-weight: 500;
}

#toc ul li a:hover {
    color: #00bcd4;
}


#toc ul li a.active-link {
    color: #ffffff;
    transform: translateX(5px);
    font-weight: bold;
    border-left: 3px solid #00bcd4;
    padding-left: 10px;
}

#main-content {
    margin-left: 180px;

}

.game-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#dq {
    background-image: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.7)), url('https://www.dragonquest.jp/stayhome/assets/img/wallpaper/l/35th4.jpg');
}

#elden {
    background-image: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.7)), url('https://placehold.co/1920x1080/4A5568/EDF2F7?text=エルデンリングの世界');
}

#yakuza {
    background-image: linear-gradient(rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.7)), url('https://placehold.co/1920x1080/C53030/FFF5F5?text=龍が如くの世界');
}


.scroll-reveal {
    animation: fade-in-up linear;
    animation-timeline: view();
    animation-range-start: entry 10%;
    animation-range-end: entry 40%;
}


@media (max-width: 768px) {
    #toc {
        display: none;
    }

    #main-content {
        margin-left: 0;
    }

    .game-section {
        padding: 4rem 1rem;
        background-attachment: scroll;
    }
}

.recommend {
    border: 2px solid #6b5f54;
    background: #eceae6;
    border-radius: 30px;
    padding: 1em;
    margin-right: 400px
}

.recommend__header {
    display: inline-flex;
    align-items: center;
    background: #7b7977;
    color: #fff;
    padding: 0.4em 0.8em;
    border-radius: 1em;
    margin-bottom: 0.8em;
}